<div class="card-columns">
  <%if(data!="NoData"){%>
  <% for(let article in data){%>
  <div class="card">
    <a href=<%=data[article].url%> target="_blank"><img class="card-img-top" src=<%= data[article].imageUrl%> alt="Card image cap"></a>
    <div class="card-body text-primary">
      <h5 class="card-title">
        <a href='<%=data[article].url%>' target="_blank"><%=data[article].title%></a>
      </h5>
      <p class="card-text">
        <%=data[article].description%>...<a href='<%=data[article].url%>' target="_blank">Read full story</a>
      </p>
      <p class="card-text"><small class="text-muted">
          <%=data[article].source%>
        </small></p>
    </div>
  </div>
  <%}%>
    <%} else{%>
  <h1>No bookmarks added yet</h1>
  <%}%>  
  </div>