<div class="card-columns">
  <%if(data!="NoData"){%>
    <% for(let article in data){ if(article%3==0){%>
  <div class="card custom">
    <img class="card-img custom-img" src='<%= data[article].urlToImage%>' alt="Card image">
    <div class="card-img-overlay">
      <h5 class="card-title">
        <%=data[article].title%>
      </h5>
      <p class="card-text">
        <%=data[article].description%>
      </p>
      <div>
        <small class="text-muted"><a href='<%=data[article].url%>' target="_blank" class="btn btn-primary stretched-link">Read Full Story</a></small>
      </div>
    </div>
  </div>
  <%} else if(article%3==1){%>
  <div class="card">
    <a href='<%=data[article].url%>' target="_blank"><img class="card-img-top" src='<%= data[article].urlToImage%>' alt="Card image cap"></a>
    <div class="card-body text-primary">
      <h5 class="card-title">
        <%=data[article].title%>
      </h5>
      <p class="card-text">
        <%=data[article].description%>
      </p>
      <p class="card-text"><small class="text-muted">
          <%=data[article].publishedAt%>
        </small></p>
    </div>
  </div>
  <%} else{ %>
  <div class="card">
    <a href='<%=data[article].url%>' target="_blank"><img class="card-img-top" src='<%= data[article].urlToImage%>' alt="Card image cap"></a>
    <div class="card-body text-info">
      <h5 class="card-title">
        <%=data[article].title%>
      </h5>
      <p class="card-text">
        <%=data[article].description%>
      </p>
      <p class="card-text"><small class="text-muted">
          <%=data[article].publishedAt%>
        </small></p>
    </div>
  </div>
  <%}}%>
  <%}%>
</div>